[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/imgui-cmake/imgui"]
	path = vendor/imgui-cmake/imgui
	url = https://github.com/ocornut/imgui.git
